.nA {
  fill: rgb(110, 64, 170);
}
.nAs {
  fill: rgb(178, 60, 178);
}
.nB {
  fill: rgb(238, 67, 149);
}
.nC {
  fill: rgb(255, 94, 99);
}
.nCs {
  fill: rgb(255, 140, 56);
}
.nD {
  fill: rgb(217, 194, 49);
}
.nDs {
  fill: rgb(175, 240, 91);
}
.nE {
  fill: rgb(96, 247, 96);
}
.nF {
  fill: rgb(40, 234, 141);
}
.nFs {
  fill: rgb(26, 199, 194);
}
.nG {
  fill: rgb(47, 150, 224);
}
.nGs {
  fill: rgb(84, 101, 214);
}
